.container {
  width: 99%;
  height: 99%;
}

.header {
  padding-top: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 20px;
  margin-top: 25px;
}
