.card {
  width: 320px;
  height: 475px;
  max-height: 475px;
  max-width: 320px;
  background-size: 100%;
  background: linear-gradient(135deg, black 30px, transparent 0),
    url(../images/cat.jpg);
  padding: 20px 40px 20px 40px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.available {
  border: 5px solid #2ea8e6;
  background-color: #2ea8e6;
}

.not-available {
  border: 5px solid #979797;
  background-color: #979797;
  filter: blur(2px);
}

.choosed {
  border: 5px solid #e52e7a;
  background-color: #e52e7a;
}

.subtitle {
  color: #666666;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}

.title {
  font-size: 48px;
  line-height: 56px;
}

.bold {
  color: #000000;
  font-weight: bold;
}

.ingredient {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.description {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
}

.weight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding-bottom: 20px;
  margin-left: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.weight > h2 {
  color: #ffffff;
  font-size: 22px;
  padding-top: 30px;
}

.footer {
  width: 320px;
  max-width: 320px;
  color: #ffffff;
  margin: auto;
  font-size: 13px;
  text-align: center;
}

.buy-text {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed #2ea8e6;
  color: #2ea8e6;
}
